    body {
        display: flex;
        justify-content: space-evenly; /* 이것으로 100% 안하고 해서 div 사이 여백 만들려고 했으나 의도하지 않은 모양 22.04.14 */
        flex-wrap: wrap;
        margin: 0;
    }
    header { width: 100%;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: lightcyan;
            position:fixed;
            z-index: 999;
        }

    h3 { color: blue;}

    div { background-color: yellow;
          height: 500px;
          position: relative;
          top: 100px;
          z-index: 1;
          overflow-y: auto;   /* 22.04.07 : edge에서 스크롤 항상 나타나는 문제점, scrolL -> auto로 변경 */
          padding: 1px;
          border: solid 1px red;
          margin: 1px;
          /* padding: 3px;  이거하면 flex된 div가 다음줄로 넘어감 22.04.14 */
    }
    
    .sk_b { color:blue; }
    .sk_r { color:red; }
    

    @media (min-width: 1280px) { 
        div { width:32.5%; }
        div:nth-child(2n+1) {
            background-color: rgb(217, 255, 205);
        }
    }
    @media (max-width: 1280px) { 
        div { width: 49%; }
        div:nth-child(4n+1) {
            background-color: rgb(217, 255, 205);
        }
        div:nth-child(4n+2) {
            background-color: rgb(217, 255, 205);
        }
    }  <!-- 너비가 1280px 이하인 경우 배경색이 핑크 -->
    @media (max-width: 600px) { 
        div { width:99%; } 
        div:nth-child(2n+1) {
            background-color: rgb(217, 255, 205);
        }
    } 

