/* 기본 글자 크기와 줄 간격 설정 */
body {
    font-size: 1rem !important;
    line-height: 1.6 !important;
  }
  
  /* 제목 태그 기본 크기 설정 */
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem !important;
  }
  
  h1 { font-size: 2rem !important; }
  h2 { font-size: 1.75rem !important; }
  h3 { font-size: 1.5rem !important; }
  h4 { font-size: 1.25rem !important; }
  h5 { font-size: 1.1rem !important; }
  h6 { font-size: 1rem !important; }
  
  /* 모바일 화면에서 일괄적인 확대 적용 */
  /* @media (max-width: 600px) {                                                       
  /*   body {
  /*     font-size: 1.1rem !important; /* 본문 글자 크기 약간 증가 */
  /*   }
  /*   h1, h2, h3, h4, h5, h6 {
  /*     font-size: calc(1em + 0.5rem) !important; /* 모든 제목 글자 크기를 약간 증가 */
  /*   } 
  /*} */